# service isolation,port mapping,reproducibility
# version: "3.8"
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
  
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: netops
    ports:
      - "5432:5432"
  
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
  
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

